/* main.css */

/* These are the colors and fonts used throughout the webpage.
 * I've listed them here so that a user may easily
 * do a search-and-replace for these to change the site theme.
 *   'Roboto',sans-serif; Font for the title text
 *   'Roboto-Slab',serif; Font for the body text 
 *   #fafafa; Background color of the site
 *   #505050; Foreground (text) color of the site
 *   #52739e; Navy, "Template" in the logo, current page in navigation, special titles in the Program
 *   #b2132e; Reddish, "Conference" in the logo, hover color for links
 *   #813c54; Heading color, titles in the Program
 *   #b8860b; Dark Goldenrod, color for links
 */

@import url('https://fonts.googleapis.com/css?family=Roboto%7CRoboto+Slab');

*{
    border:0;
    font:inherit;
    font-size:1em;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

body{
    background-color: #ffffff;
    background-size: cover;
    background-attachment: fixed;
    color: #000000; 
    text-align: left;
    font-family:'Roboto',sans-serif;
    font-size:1em;
    line-height:1.0em;
    margin: 60px auto;
    width: 900px;
}

.header{
    background-color: #000000;
    font-size:4em;
    text-align: center;
    line-height:1em;
    color:#ffffff;
    padding:0.2em;
}

a{color: #2e07ee; text-decoration:none;}
a.current{color: #52739e;}
a.current:hover{color: #e82945;}
a:hover{color: #2e07ee; font-weight: bold;}
a:active{color: #e82945;}

h1,h2,h3{clear:left; color: #000000; margin: 1.5em 0em 0.5em 0em; font-family:'Roboto',serif; font-weight: bold;}

h4{clear:left; background-color: #000000; color: #ffffff; font-family:'Roboto',serif; font-weight: 999;width: 900px; text-align: center;}

h1{font-size:2.67em;}

h2{font-size:1.60em;}

h3{font-size:1.67em;}

h4{font-size:1.4em; line-height:1.4em;}

p{list-style:none; margin: 1px auto 1px auto; padding:0px; width: 900px; text-align:justify; font-size: 1.2em; color: #000000; line-height:1.4em;}

li a, p a {text-decoration-color:#2e07ee;}
ul{list-style:none; margin:2px auto 2px 2px; padding:1px; width: 900px; text-align:left; line-height:1.6em;}
ul li{list-style:none; margin:0px auto 0px auto; padding:2px; text-align:left; font-size: 1.2em; text-indent: -5.5em; padding-left: 5.5em;}

i,em{font-style:italic;}
b,strong{font-weight:bold;}
sup{
    vertical-align: super;
    font-size: 0.8em;
    line-height: 0;
}
sub{
    vertical-align: sub;
    font-size: 0.8em;
    line-height: 0;
}
table{
    width: 900px;
    margin: 12px auto 24px auto;
    float: center;
    /* UNCOMMENT THIS FOR DEBUGGING THE ALIGNMENT */
    /*border: 1px solid black;*/
}
th,td{
    text-align: left;
    /* UNCOMMENT THIS FOR DEBUGGING THE ALIGNMENT */
    /*border: 1px solid black;*/
}

.pp{list-style:none; margin: 1px auto 1px auto; padding:0px; width: 900px; text-align:justify; font-size: 1.2em; color: #000000; font-weight: bolder;}

/* Website Banner */
.banner {position: relative; font-family:'Roboto',serif; padding: 20px 20px 20px 0;}
.banner img{width: 102.2%}

.top-title {font-size:4.8em; background-color: #000000; center; width: 900px; height: 66px; position: absolute; padding: 0 0 0 0; top: 0; text-align: center;}

.top-subtitle {font-size:2.2em; text-align: center; width: 900px; height:0.5em; position: relative; padding: 0.5em 0 0 0; top: 0px;}

/* Conference Title Logo */
.title{color: #ffffff; font-size:0.47em; font-weight: bold; text-align: center;} 

.subtitle{color: #000000; font-size:1.0em; font-weight: bold;}

/* Navigation Links (Home, Registration, etc) */
table.navigation{width: 900px;}
td.navigation{font-size:1.67em; white-space:nowrap; width:20%; text-align:center; vertical-align:middle; padding:0px 0px 0px 0px;}

/* Sponsor Images */
table.sponsors{width: 900px;}
td.sponsor{white-space:nowrap; width:33%; text-align:center; vertical-align:middle; padding:0px 0px 0px 0px;}
td.sponsor img{width: 95%}

footer{font-size:0.875em; margin-top:12em; text-align:center;}

/* My hacky way of making the site mobile-friendly */
@media only screen and (max-width: 900px) {
    h2{font-size:1.8em;}
    h4{font-size:1.6em;}
    p{font-size:1.4em; line-height:1.6em;}
    th,td,tr{font-size:1.5em; line-height:1.6em;}
    td.date{font-size:1.4em; padding-top:0.5em;}
    td.navigation{font-size:1.5em; padding:0px 20px 0px 20px;}
    table.footer{font-size:0.33em;}
    .pp{font-size:1.4em; line-height:1.6em;}
    ul{font-size:1.2em; line-height:1.6em;}    
}

